.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #39393978 !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #39393978 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: #39393978 !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    color: #39393978 !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #39393978 !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    background-color: #acb4bf !important;
    color: #d9dde2 !important;
}

